
.home{
  background: url('./img/img1.jpg');
  background-size: cover;
  min-height: 600px;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.account{
  background: gray;
  min-height:600px;
}

.cust{
  background:darkseagreen;
  min-height: 600px;
}
.product{
  background: darkslategray;
  min-height: 620px;
}
.home h1{
  color:orange
}
.home h3{
  color:red
}
.count{
  border: 1px solid gray;
  border-radius: 10px;
  padding: 3px;
}

